/*call out fonts*/
@font-face { font-family: Exodus; src: url('../fonts/ExodusDemo-Striped.otf'); }
@font-face { font-family: Exodus; font-weight: bold; src: url('../fonts/ExodusDemo-Striped.otf');}
@font-face { font-family: Despairs; src: url('../fonts/Despairs-X3Wxo.ttf'); }
@font-face { font-family: Despairs; font-weight: bold; src: url('../fonts/Despairs-X3Wxo.ttf');}



/*general*/


body{
  background-color: black;
  color:lightgray;
}


/*intro page*/

.blue-background{
  margin: 10 auto;
  padding: 75px;
}

#Minimalistic{
  font-size: 30px;
}


#bluepic{
  width: 100%;
  height: 100%;
}

#thistemp{
  text-align: center;
}

/*Home navigation*/
a{
  color: white;
  font-size: 30px;
  text-decoration: none;
}

a:hover{
  color: cyan;
}


/*users input*/
input{
  background-color: black;
}

.input-black{
  background-color: black;
  border-color: cyan;
  color: lightgray;
}

.btn{
  background-color: black;
  border-color: cyan;
  color:lightgray;
  margin: auto;
}

/*users' input containers*/

#favouritedCards{
  border: 0.5px solid lightgray;
  border-radius: 15px;
  overflow-y: scroll;
  max-height: 500px; /*for fix height*/
  font-size: 30px;
}

.favItem {
  font-size: 10px;
  padding: 5px;
  margin-bottom: 5px;
  border: 0.5px solid #999;
  border-radius: 5px;
}

.Event{
  border: 0.5px solid lightgray;
  border-radius: 10px;
}

#textcontent{
  border-style: none;
}


/*card template container*/

.drag {
  max-width: 70px;
}

#previewTitle{
  text-align: center;
}

.row{
  text-align: center;
}


.preview-container {
  background-color:black;
  margin: auto;
  max-width: 80%;
}

.tmpl {
  color: lightgray;
  text-align:left;
  text-align: justify;
  background-image: url("../assets/redparticle.gif");
  background-size: 300px;
  background-repeat: no-repeat;
  background-position: right;
}


.tmpl .event-date {
  font-style: italic;
  font-size: 20px;
}

.tmpl .recipient-name {
  font-style: italic;
  font-size: 18px;
}

.tmpl .custom-msg p::first-letter {
  font-size: 48px;
  font-style: italic;
  line-height: 1;
}

.tmpl .preview-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#greetMsg{
  font-family: "Despairs";
  font-size: 50px;
}

#customMsg{
  font-family: cursive;
}

#inviter{
  padding: 0;
  margin:0;
  text-align: center;
}


/*code taken from outside sources*/


/*neon words code, taken from codepen https://codepen.io/nodws/pen/bdjwn, */

body{
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 20px;
}

.logo {
  max-width: 100%;
  max-height: 100%;
  margin: auto;
  background-image: url("../assets/30000fps.gif");
  background-repeat: no-repeat;
  background-size:cover;
}

.logo b{
  font: 5vw "Despairs";
  color: #fee;
  text-shadow: 0 -40px 100px, 0 0 2px, 0 0 1em #ff4444, 0 0 0.5em #ff4444, 0 0 0.1em #ff4444, 0 10px 3px #000;
}

.logo b span{
  animation: blink linear infinite 2s;
}
.logo b span:nth-of-type(2){
  animation: blink linear infinite 3s;
}
@keyframes blink {
  78% {
    color: inherit;
    text-shadow: inherit;
  }
  79%{
     color: #333;
  }
  80% {

    text-shadow: none;
  }
  81% {
    color: inherit;
    text-shadow: inherit;
  }
  82% {
    color: #333;
    text-shadow: none;
  }
  83% {
    color: inherit;
    text-shadow: inherit;
  }
  92% {
    color: #333;
    text-shadow: none;
  }
  92.5% {
    color: inherit;
    text-shadow: inherit;
  }
}

#btn-twtr{
  clear:both;
  color:#fff;
  border:2px solid;
  border-radius:3px;
  text-align:center;
  text-decoration:none;
  display:block;
  font-family:sans-serif;
  font-size:14px;
  width:13em;
  padding:5px 10px;
  font-weight:600;
  position:absolute;
  bottom:20px;
  left:0;
  right:0;
  margin:0 auto;
  background:rgba(0,0,0,0.2);
  box-shadow:0 0 0px 3px rgba(0,0,0,0.2);
  opacity:0.4
}#btn-twtr:hover{color:#fff;opacity:1}

/*end of neon words code*/


/*gradient border code, taken from codepen: https://codepen.io/mike-schultz/pen/NgQvGO. By Mike Schultz*/
@import url('https://fonts.googleapis.com/css?family=Raleway:200');

.gradient-border {
  --borderWidth: 4px;
  position: relative;
  border-radius: var(--borderWidth);

}

.gradient-border:after {
  content: '';
  position: absolute;
  top: calc(-1 * var(--borderWidth));
  left: calc(-1 * var(--borderWidth));
  height: calc(100% + var(--borderWidth) * 2);
  width: calc(100% + var(--borderWidth) * 2);
  background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
  border-radius: calc(2 * var(--borderWidth));
  z-index: -1;
  animation: animatedgradient 3s ease alternate infinite;
  background-size: 300% 300%;
}


@keyframes animatedgradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

/*end of gradient border code*/
